---
layout: featured
title: Verification &amp; Validation
icon: /assets/img/icons/ruler.svg
image: /assets/img/service/3.jpg
description: We deliver fully tested software and can help validate your code's results.
---

<div class="row">
    <div class="col-md-12">
        <div class="service-details mb-40">
            <h3>Correctness is paramount</h3>
            <p>In science as in business, it is imperative to draw the right conclusions. This depends entirely on your software's output being accurate.
	    It is therefore of utmost important to continuously verify your software and validate the models used in it.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-6 col-lg-12">
        <div class="s-details-img mb-30">
            <img src="{{site.baseurl}}/assets/img/service/5.jpg" alt="{{page.title}}">
        </div>
    </div>
    <div class="col-xl-6 col-lg-12">
        <div class="service-details mb-40">
            <h3>Continuous Integration</h3>
            <p>We have years of experience with continuous integration for line-of-business applications and research codes, including performance, integration testing, regression testing and unit testing.</p>
        </div>
    </div>
</div>
<div class="service-details mb-30">
    <h3>Improve your development</h3>
    <p>Can we help you make your software development process more reliable and improve the correctness of your programs? Let's get in touch!</p>
    {% include call_to_action_mini.html %}
</div>
