<section class="about-area pb-60 pt-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 mb-40">
                <div class="section-title">
                    <h2>About Us</h2>
                </div>
                <div class="about-content">
                    <p>Ignition Computing is a specialized consulting firm for high-tech software and high-performance computing. We have experience with simulation codes, integrated modelling, cutting-edge visualisation, high-frequency trading systems, complex apps and business-critical software. We can handle the full process from ideation to deployment and support.</p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 mb-20 md-margin">
                <div class="about-img">
                    {% include picture.html file='/assets/img/about/launch' webp='1' jpg='1' alt="Laptop with code" %}
                </div>
            </div>
        </div>
    </div>
</section>
