<section class="about-area pb-60 pt-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 mb-40">
                <div class="section-title">
                    <h2>About Us</h2>
                </div>
                <div class="about-content">
                    <p>Ignition computing is a specialized consulting firm for high-performance computing and research software. We have experience with simulation codes, integrated modeling, cutting-edge visualization, and complex apps. Our focus area is fusion research and development. We can handle the full development process.</p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 mb-20 md-margin">
                <div class="about-img">
                    {% include picture.html file='/assets/img/about/launch' webp='1' jpg='1' alt="Laptop with code" %}
                </div>
            </div>
        </div>
    </div>
</section>
