<section class="about-area pb-60 pt-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 mb-40">
                <div class="section-title">
                    <h2>About Us</h2>
                </div>
                <div class="about-content">
                    <p>We focus on nuclear fusion and physics- and mathematics-heavy problems. We assist our clients by writing and optimizing simulation codes, combining them for integrated modelling workflows, building visualisation tools and other infra tooling.</p>
                    <p>Ready to see how we can help? <a href="/contact">Get in touch!</a></p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 mb-20 md-margin">
                <div class="about-img">
                    {% include picture.html file='/assets/img/about/launch' webp='1' jpg='1' alt="Laptop with code" %}
                </div>
            </div>
        </div>
    </div>
</section>
