<div class="clients-area pt-50 pb-50">
    <div class="container">
        <div class="row">
            <div class="clients-active owl-carousel">
                <div style="width: 285px;">
                    <div class="single-clients">
                        <a href="https://www.differ.nl" target="_blank">
                            <img src="{{site.baseurl}}/assets/img/clients/differ.png" alt="DIFFER">
                        </a>
                    </div>
                </div>
                <div style="width: 151px;">
                    <div class="single-clients">
                        <a href="https://iter.org" target="_blank">
                            <img src="{{site.baseurl}}/assets/img/clients/iter.png" alt="ITER">
                        </a>
                    </div>
                </div>
                <div style="width: 250px;">
                    <div class="single-clients">
                        <a href="https://fusenet.eu" target="_blank">
                            <img src="{{site.baseurl}}/assets/img/clients/client-2.png" alt="FuseNet">
                        </a>
                    </div>
                </div>
                <div style="width: 78px;">
                    <div class="single-clients">
                        <a href="https://brainporteindhoven.com" target="_blank">
                            <img src="{{site.baseurl}}/assets/img/clients/client-3.png" alt="Brainport Eindhoven">
                        </a>
                    </div>
                </div>
                <div style="width: 346px;">
                    <div class="single-clients">
                        <a href="https://tue.nl" target="_blank">
                            <img src="{{site.baseurl}}/assets/img/clients/client-4.png" alt="Eindhoven University of Technology">
                        </a>
                    </div>
                </div>
                <div style="width: 355px;">
                    <div class="single-clients">
                        <a href="https://projoules.com" target="_blank">
                            <img src="{{site.baseurl}}/assets/img/clients/projoules.png" alt="Projoules">
                        </a>
                    </div>
                </div>
                <div style="width: 346px;">
                    <div class="single-clients">
                        <a href="https://tracklete.io" target="_blank">
                            <img src="{{site.baseurl}}/assets/img/clients/client-6.png" alt="Tracklete">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
