<section class="team-area grey-bg pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center pb-40">
                <div class="section-title service-title">
                    <h2>Our Team</h2>
                    <p>Our team has extensive experience in High-Performance Computing and software development.</p>
                </div>
            </div>
        </div>
        {% include people_list.html people=site.data.team_members %}
    </div>
</section>
